<% include partials/header %>

<section class="landing hidden" id="landing">
    <div class="landing-text hidden" id="landing-text">
        <h1>The Adventure Blog</h1>
        <a href="/blog">Explore</a>
    </div>
</section>

<script src="/assets/scripts/main.js"></script>
</body>
</html>